.apply-coupon-cont {
    padding: 10px 20px;
}

.special-code-cpnt {
    padding: 25px 20px;
}

.abs-apply-btn {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
}

.max-w-100 {
    max-width: 100% !important;
}